@import 'variables';
@import 'calendar';
@import 'time';
@import 'super-slider';

.m-input-moment {
  display: inline-block;
  width: 300px;
  padding: 12px 15px;
  border-radius: 3px;
  border: 1px solid @color-gray;
  background: #fff;
}
